@model GestionBerger.Models.Employe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEmbauche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEmbauche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaires)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.matricule">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
