@model GestionBerger.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Espece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Espece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medaille)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medaille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Micropuce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Micropuce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatSante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatSante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comportement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comportement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaires)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DossierAnimal">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
