@model IEnumerable<GestionBerger.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div>
    <form asp-action="Create" method="get" style="display:inline;">
        <button type="submit" class="btn btn-success">Nouvel Animal</button>
    </form>
    
    <form asp-area="" asp-controller="Home" asp-action="Index" method="get" style="display:inline;">
        <button type="submit" class="btn btn-secondary">Menu Principal</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            
            <th>#Dossier</th>
            <th>Espece</th>
            <th>Race</th>
            <th>Couleur</th>
            <th>Sexe</th>
            <th>Age</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DossierAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Espece)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            
            
                <td>
                    <form asp-action="Edit" method="get" style="display:inline;">
                        <input type="hidden" name="IdCouleur" value="@item.IdAnimal" />
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                    <form asp-action="Delete" method="get" style="display:inline;">
                        <input type="hidden" name="IdCouleur" value="@item.IdAnimal" />
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
