@model IEnumerable<GestionBerger.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Espece)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Couleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medaille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Micropuce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtatSante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comportement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaires)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Espece)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medaille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Micropuce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtatSante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comportement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaires)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DossierAnimal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DossierAnimal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DossierAnimal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
