@model GestionBerger.Models.Cueillette

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cueillette</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCitoyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCitoyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHeureRecu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHeureRecu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePrevu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePrevu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Espece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Espece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intersection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intersection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intervention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intervention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHeureFinalise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHeureFinalise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaires)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCueillette">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
